<html>
<div class="right_cont">
<ul class="breadcrumb">当前位置：
  <a href="#">订单系统</a> <span class="divider">/</span>
  订单录入
</ul>
   
<div class="title_right"><strong>订单录入</strong></div>  
<div style="width:900px;margin:auto;">
       <table class="table table-bordered">
         <tbody>
	         <tr>
			     <td width="10%" align="right" nowrap="nowrap" bgcolor="#f1f1f1">下单时间：</td>
			     	<td width="23%"><input type="text" class="form-control"  id="Calendar" 
			     		onclick="fPopCalendar(event,this,this)" placeholder="点击选择日期 "></td>
			     		
			     <td width="10%" align="right" nowrap="nowrap" bgcolor="#f1f1f1">订单编号：</td>
			     	<td width="23%"><input type="text" name="orderNum" id="orderNumInput"
			     		class="form-control" onclick="getNumber()" placeholder="点击生成订单编号" ></td>
			     	
			     <td width="10%" align="right" nowrap="nowrap" bgcolor="#f1f1f1">寄件类型：</td>
			     	<td>
		     			<select id="packageType" class="form-control" >
						  	<option selected="selected">点击选择寄件类型</option>
						  	<option>日用品</option>
						  	<option>电子产品</option>
						  	<option>贵重物品</option>
						  	<option>衣服</option>
						  	<option>食品</option>
						  	<option>书籍</option>
						  	<option>文件</option>
						  	<option>其他</option>
						</select>
			     	</td>
	     	</tr>
		     <tr>
			     <td align="right" nowrap="nowrap" bgcolor="#f1f1f1">寄件人：</td>
			     	<td><input type="text" name="senderName" id="nameInput" class="form-control"></td>
			     	
			     <td align="right" nowrap="nowrap" bgcolor="#f1f1f1">寄件地址：</td>
			     	<td><input type="text" name="senderAddress" id="senderAddressInput" class="form-control" 
			     		data-toggle="modal" data-target="#addressEditModal" onclick="getAddress(1)" placeholder="点击选择地址"></td>
			     	
			     <td align="right" nowrap="nowrap" bgcolor="#f1f1f1">联系方式：</td>
			     	<td><input type="text" name="senderTel" id="senderTelInput" class="form-control"></td>
		     </tr>
		     <tr>
			     <td align="right" nowrap="nowrap" bgcolor="#f1f1f1">收件人：</td>
			     	<td><input type="text" name="receiverName" id="receiverNameInput" class="form-control"></td>
			     	
			     <td align="right" nowrap="nowrap" bgcolor="#f1f1f1">收件地址：</td>
			     	<td><input type="text" name="receiverAddress" id="receiverAddressInput" class="form-control" 
			     		data-toggle="modal" data-target="#addressEditModal" onclick="getAddress(2)" placeholder="点击选择地址"></td>
			     	
			     <td align="right" nowrap="nowrap" bgcolor="#f1f1f1">联系方式：</td>
			     	<td><input type="text" name="receiverTel" id="receiverTelInput" class="form-control"></td>
		     </tr>
		     <tr>
			     <td align="right" nowrap="nowrap" bgcolor="#f1f1f1">支付方式：</td>
			     	<td>
		     			<select id="payMethod" class="form-control" >
		     				<option selected="selected">点击选择支付方式</option>
		     				<option>在线支付</option>
		     				<option>货到付款</option>
		     			</select>
			     	</td>
			     
			     <td align="right" nowrap="nowrap" bgcolor="#f1f1f1">保价金额：</td>
			     	<td>
		     			<select class="form-control" >
		     				<option selected="selected">点击选择金额，不保价选0</option>
		     				<option>0</option>
		     				<option>100</option>
		     				<option>300</option>
		     				<option>500</option>
		     				<option>1000</option>
		     				<option>2000</option>
		     				<option>3000</option>
		     				<option>5000</option>
		     				<option>10000</option>
		     			</select>			     	
			     	</td>
			     
			     <td align="right" nowrap="nowrap" bgcolor="#f1f1f1">总计费用：</td>
			     	<td><input type="text" class="form-control" placeholder="点击生成"></td>			     			     			     		
		     </tr>
       </tbody>
    </table>
           
     <table class="margin-bottom-20  table no-border">
       <tbody><tr>
     	<td class="text-center"><input type="button" value="提交订单" class="btn btn-outline-info" style="width:80px;"></td>
     </tr>
   </tbody></table>  
   </div>     
</div>
 
<div th:replace="order/addressEdit"></div>
 
 <!-- Calendar.js -->
<script th:src="${'/js/Calendar.js'}" type="text/javascript"></script>

<script type="text/javascript">

var tag = 0;	//用老标志是哪一个input框打开了模态框

//获取随机订单编号函数
function getNumber() {
	
	var number = "";
	
	var str = "QAZWSXEDCRFVTGBNHYUJMKIOLPujmnhyikpoltgbrfvcdewsxzaq";
	for (var i=0; i<5; i++) {//从54个字母中随机取5个字母
		var k = parseInt(Math.random()*52);
		while(k > 51)	k = parseInt(Math.random()*52);
		number += str.charAt(k);
	}
	
	var timeNum = Date.now().toString();	//取时间戳
	number += timeNum.substring(8);	//取时间戳后五位数字
	for (var i=0; i<5; i++) {	//再从时间戳中随机取5个数字
		var m = parseInt(Math.random()*13);
		while (m > 12) m = parseInt(Math.random()*13);
		number += timeNum.charAt(m);
	}
	
	//设置input框的值
	$("#orderNumInput").val(number);
}

//寄件地址，收件地址input框点击时触发此函数
function getAddress(number) {
	tag = number;	
}

//模态框弹出时，执行此函数，初始化下拉框
$('#addressEditModal').on('show.bs.modal', function () {

	
	//加载省份下拉框
	showOption("first", "#province1");
	showOption("first", "#province2");
	
	//加载城市下拉框
	$("#province1").change(function() {
		showOption("#province1", "#city1");
	});
	
	$("#province2").change(function() {
		showOption("#province2", "#city2");
	});
	
	//加载区县下拉框
	$("#city1").change(function() {
		showOption("#city1", "#area1");
	});
	
	$("#city2").change(function() {
		showOption("#city2", "#area2");
	});
	
});

//模态框关闭后，执行此函数，设置地址
$('#addressEditModal').on('hidden.bs.modal', function() {
	
	//获取输入的地址
	var address = $("#province1").find("option:selected").text()
				+ $("#city1").find("option:selected").text()
				+ $("#area1").find("option:selected").text()
				+ $("#particularAddress1").val();
	
    if (tag == 1)	$("#senderAddressInput").val(address);		//设置寄件地址
    if (tag == 2)	$("#receiverAddressInput").val(address);	//设置收件地址
});

</script>
</html>
